# Local environment
.env

# Node
node_modules/
dist/
.vite/
coverage/
cypress/videos/
cypress/screenshots/
cypress/downloads/

# Wrangler
.wrangler/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
